.category-bullet {
  border-radius: 1.5rem;
  cursor: pointer;
  transition: 0.3s;
  display: inline-block;
}
.category-bullet.disabled {
  opacity: 0.5;
}
.category-bullet:hover {
  background-color: #eee;
}
