#users-page .user-card {
  border: 1px solid #eee;
  background-color: #fff;
  cursor: pointer;
  transition: 0.3s;
}
#users-page .user-card:hover {
  box-shadow: 1px 3px 6px #ddd;
}

#users-page .user-card-layout {
  display: grid;
  grid-template-columns: min-content auto;
  grid-template-rows: auto auto;
  grid-template-areas: 'user-avatar user-name' 'user-avatar user-email';
}

#users-page .user-card-layout .user-card-avatar {
  grid-area: user-avatar;
  width: 3.75rem;
  height: 3.75rem;
  /* 3.75rem = 60px */
}

#users-page .user-card-layout .user-card-name {
  grid-area: user-name;
  margin-bottom: 0;
  transition: 0.3s;
}
#users-page .user-card:hover .user-card-name {
  color: #0d6efd;
}

#users-page .user-card-layout .user-card-email {
  grid-area: user-email;
  margin-bottom: 0;
}