#app-preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom right, #eee, #fcfcfc, #eee, #fcfcfc);
}

#app-preloader img {
  width: 10%;
}
